<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90975614204-cis8p8li1vka0ccbbkhrccvmvp6jje0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90975614204-cis8p8li1vka0ccbbkhrccvmvp6jje0u</string>
	<key>API_KEY</key>
	<string>AIzaSyAbSGb5nPg0VUl0GYTRFb-wuG9kOQpuIf8</string>
	<key>GCM_SENDER_ID</key>
	<string>90975614204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hongjeongseob.MatchingApp</string>
	<key>PROJECT_ID</key>
	<string>matchingapp-9fe6b</string>
	<key>STORAGE_BUCKET</key>
	<string>matchingapp-9fe6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90975614204:ios:d51732c322cd4d6b21d379</string>
</dict>
</plist>